---
layout: default
---
<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/database outline">database outline</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/relational data model">relational data model</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/create table in sql">create table in sql</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/relational algebra">relational algebra</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/combining operators and constraints">combining operators and constraints</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/bags and extended relational algebra">bags and extended relational algebra</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/er model">er model</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/design principles and weak entity sets">design principles and weak entity sets</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/from er models to relations">from er models to relations</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/basic sql">basic sql</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/join, subquery, aggregation and window function">join, subquery, aggregation and window function</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/modification, view, and with query">modification, view, and with query</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/constraints and triggers">constraints and triggers</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/system aspects of sql">system aspects of sql</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/machine learning term and concept">machine learning term and concept</a></h1>  
</div>

<div class="catalogue">
    <h1 class="category-title"><a href="/category/linear regression cost function minimize">linear regression cost function minimize</a></h1>  
</div>
